.content-wrapper
  width: 100%
  max-width: 1200px
  margin: 0 auto

.rooms
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  &.cdk-drop-list-dragging
    .room:not(.cdk-drag-placeholder)
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
.room
  width: 100%
  margin: 10px
  flex-grow: 1
  flex-basis: 0
  background-color: #F3F3F3
  position: relative
  padding-bottom: 50px
  &.cdk-drag-preview
    box-sizing: border-box
    border-radius: 4px
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
  &.cdk-drag-placeholder
    opacity: 0
  &.cdk-drag-animating
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
  img
    width: 100%
    height: 200px
    object-fit: cover
  .top-info,
  .bottom-info
    padding: 15px
  .top-info
    .title
      text-transform: uppercase
      font-size: 20px
      margin-bottom: 15px
      font-weight: 900
    p
      font-size: 16px
      span
        font-weight: 700
  .bottom-info
    position: absolute
    bottom: 0
    right: 0
    text-align: right
    .repair
      color: red
    .type
      color: grey
      &.office
        color: #00ae00

.top-section
  min-height: 100vh
  min-width: 700px
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(320deg, #e9eb24, #ff5bb4, #1498e3)
  background-size: 600% 600%
  -webkit-animation: gradient 30s ease infinite
  -moz-animation: gradient 30s ease infinite
  -o-animation: gradient 30s ease infinite
  animation: gradient 30s ease infinite
  @-webkit-keyframes gradient
    0%
      background-position: 5% 0%
    50%
      background-position: 96% 100%
    100%
      background-position: 5% 0%
  @-moz-keyframes gradient
    0%
      background-position:  5% 0%
    50%
      background-position: 96% 100%
    100%
      background-position: 5% 0%
  @-o-keyframes gradient
    0%
      background-position: 5% 0%
    50%
      background-position: 96% 100%
    100%
      background-position: 5% 0%
  @keyframes gradient
    0%
      background-position: 5% 0%
    50%
      background-position: 96% 100%
    100%
      background-position: 5% 0%
  .rooms-block
    background: #fff
    box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.23)
    max-width: 1000px
    width: 100%
    border-radius: 8px
    padding: 10px
    margin: 20px
    
.bottom-section
  background-color: #fff
  padding: 15px 0

.bottom-link-block
  padding: 30px 0
  > a
    $borderWidth: 3px
    width: 100%
    padding: 30px
    text-align: center
    max-width: 200px
    display: block
    margin: 0 auto
    text-decoration: none
    position: relative
    border-radius: $borderWidth
    z-index: 1
    text-transform: uppercase
    color: #000
    font-weight: 700
    &::after
      $borderWidth: 3px
      $doubleBorderWidth: $borderWidth * 2
      content: ' '
      position: absolute
      top: -1 * $borderWidth
      left: -1 * $borderWidth
      height: calc(100% + #{$doubleBorderWidth})
      width: calc(100% + #{$doubleBorderWidth})
      background: linear-gradient(320deg, #e9eb24, #ff5bb4, #1498e3)
      border-radius: 2 * $borderWidth
      z-index: -1
      animation: animatedgradient 30s ease alternate infinite
      background-size: 300% 300%
    & > span
      position: absolute
      top: 3px
      bottom: 3px
      left: 3px
      right: 3px
      display: flex
      align-items: center
      justify-content: center
      background-color: #fff
    @keyframes animatedgradient
      0%
        background-position: 0% 50%

      50%
        background-position: 100% 50%

      100%
        background-position: 0% 50%




