.header-root
  display: flex
  align-items: center
  padding: 30px 15px
  flex-wrap: wrap
  justify-content: space-between

h3
  font-size: 36px
  text-transform: uppercase
  flex-grow: 2

.line
  height: 3px
  width: 100%
  background-color: #aaa
  margin: 25px 0

form
  margin-left: auto

input
  border: 1px solid #999
  background-color: #ddd
  border-radius: 4px
  font-size: 20px
  padding: 15px
  width: 100%
  max-width: 250px
  box-sizing: border-box

@media (min-width: 768px)
  .header-root
    flex-wrap: nowrap

  .line
    margin: 0 20px

  form
    margin-left: 0

  input
    width: auto
