@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap')

*
  margin: 0
  padding: 0

body
  font-family: 'Roboto', sans-serif
  background-color: #aaa
  padding-bottom: 1000px

li
  list-style-type: none
